@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Other CSS rules here */


 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  


    


.home {
    position: fixed;
    background-color: grey;
}

.a {
    
        display: flex;
        
        justify-content: center; /* horizontally center the child elements */
        align-items: center; /* vertically center the child elements */
        background-image: url('keys.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-color: red;
        max-width: 250vh;
}
#title {
    font-family: 'Roboto', sans-serif; /* use a sans-serif font */
    font-weight: bold; /* make the font weight bold */
    font-size: 20vh; /* adjust the font size to your liking */
    text-align: center; /* center the text within the div */
    color: #333; /* set a color for your title */
}



.b {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    font-family: 'Pacifico', cursive;
    background-color: orange;
    max-width: 250vh;
    
}

#name {
   
    text-align: right;

    
}
#jl {
    border-radius: 50%;
    height: 25px;
    width: 25px;
   
    
}


.c {
   
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250vh;
    background-color: blue;
    
    

}
#about {
    margin-right: 100px;
    
}
.me {
    height: 25vh;
    width: 25vh;
    margin-left: 100px;
    border-radius: 10px;
    background-color: blue;
    
} 

.d {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    width: 250vh;
    
   

}
#bio {
    padding: 30px;
    flex: 1;
    

}
.js {
    
    height: 25px;
    width: 25px;
}

.e {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 250vh;
    
}
#python {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}
.react {
    height: 25px;
    width: 35px;
    background-color: black;
}
.f {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: olive;
    width: 250vh;
}
.g {
    background-color: magenta;
}
.h {
    background-color: forestgreen;
}
.i {
    background-color: moccasin;
}
.j {
    background-color: tomato;
}

footer {
    
    display: flex;
    justify-content: center; /* horizontally center the child elements */
    align-items: center;
    background-color: white;
}


